#*<div style="background-color: #eee;width: 100%;position: relative;z-index:30;margin-top:50px" id="session-box">
    <div class="container" id="box-content" style="z-index:31;">
        <form class="col-md-4 col-md-offset-4" action="javascript:login()" style="display: none;padding: 50px 0;" id="login-boundar">
            <h2>请登录</h2>
            <input type="tel" id="inputPhone" class="form-control" placeholder="手机号" oninput="validityPhone('inputPhone')" required autofocus>
            <input type="password" id="inputPwd" class="form-control" placeholder="密码" required>
            <div class="checkbox">
                <label>
                    <input id="chkRememberPwd" type="checkbox" value="remember-me">记住我
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <p style="text-align:center;color:red;margin-top:8px" id="prompt">&nbsp;</p>
        </form>
        <form class="col-md-4 col-md-offset-4" action="javascript:register()" style="display: none;padding: 50px 0;" id="register-boundar">
            <h2>注册</h2>
            <label>手机号</label>
            <input type="tel" id="registerPhone" class="form-control" placeholder="请输入手机号" oninput="validityPhone('registerPhone')" required autofocus>
            <label>用户名</label>
            <input type="text" id="registerName" class="form-control" placeholder="请输入用户名" oninput="validityName()" required>
            <label>登录密码</label>
            <input type="password" id="registerPassword" class="form-control" placeholder="请输入登录密码" oninput="validityPwd()" required>
            <label>确认密码</label>
            <input type="password" id="registerPasswordConfirm" class="form-control" placeholder="确认登录密码" oninput="validityPwd()" >
            <label>验证码</label><label style="float:right" id="sendcode"><a href="#">获取验证码</a></label>
            <input type="text" id="registerCode" class="form-control" placeholder="请输入验证码" >
            <button class="btn btn-lg btn-primary btn-block" style="margin-top:10px" type="submit">立即注册</button>
            <p style="text-align:center;color:red;margin-top:8px" id="prompt2">&nbsp;</p>
        </form>
    </div>
</div>*#

<div id="login-boundar" class="box-content" style="z-index:30;display: none;position:absolute;top:40px;right:calc( 50% - 600px );width:400px;height:340px;border-radius: 3px;background-color: white;box-shadow:2px 2px 14px #333333" id="session-box">
    <div class="container" style="z-index:31;padding:30px 20px;width:400px;margin:0 auto">
        <div style="padding:0 15px;height:35px;">
            <a href="javascript:onLogin()" style="width:50%;text-align:center;float:left;text-decoration:none;color:#6CB7FF;font-size:18px;padding-bottom:5px;border-bottom: 4px solid #6CB7FF">登录</a>
            <a href="javascript:onRegister()" style="color: #cbcbcb;width:50%;text-align:center;float:right;text-decoration:none;font-size:18px;padding-bottom:5px;border-bottom: 4px solid white">注册</a>
        </div>
        <form action="javascript:login()" style="padding: 30px 15px;" id="login-boundar">
            <input type="tel" id="inputPhone" class="form-control" placeholder="请输入您的手机号" oninput="validityPhone('inputPhone')" required autofocus style="height: 40px">
            <input type="password" id="inputPwd" class="form-control" placeholder="请输入您的密码" required style="margin-top:20px;height: 40px">
            <p style="color:red;margin-top:8px" id="prompt">&nbsp;</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #6CB7FF;border-color:#6CB7FF">登录</button>
        </form>
        <div style="padding:0 15px;height:25px;margin-top:-20px">
            <a href="javascript:onChange()" style="float:left;text-decoration:none;color:black;font-size:14px;color: #3e8bfe">忘记密码</a>
        </div>
    </div>
</div>

<div id="register-boundar" class="box-content" style="z-index:30;display: none;position:absolute;top:40px;right:calc( 50% - 600px );width:400px;height:460px;border-radius: 3px;background-color: white;box-shadow:2px 2px 14px #333333" id="session-box">
    <div class="container" style="z-index:31;padding:30px 20px;width:400px;margin:0 auto">
        <div style="padding:0 15px;height:35px;">
            <a href="javascript:onLogin()" style="color: #cbcbcb;width:50%;text-align:center;float:left;text-decoration:none;font-size:18px;padding-bottom:5px;border-bottom: 4px solid white">登录</a>
            <a href="javascript:onRegister()" style="width:50%;text-align:center;float:right;text-decoration:none;color:#6CB7FF;font-size:18px;padding-bottom:5px;border-bottom: 4px solid #6CB7FF">注册</a>
        </div>
        <form action="javascript:register()" style="padding: 30px 15px;" id="login-boundar">
            <input type="tel" id="registerPhone" class="form-control" placeholder="请输入您的手机号" oninput="validityPhone('registerPhone')" required autofocus style="height: 40px">
        ##                    <input type="text" id="registerName" class="form-control" placeholder="请输入您的用户名" oninput="validityName()" required style="margin:20px 0;height: 40px">
            <input type="password" id="registerPassword" class="form-control" placeholder="请输入您的密码" oninput="validityPwd()" required style="margin:20px 0px 0px 0px;height: 40px">
            <label style="float: left;font-size: 12px;color: silver;margin-bottom: 10px">(*密码6～16位，包含数字或英文)</label>
            <input type="password" id="registerPasswordConfirm" class="form-control" placeholder="请输入确认密码" oninput="validityPwd()" required style="margin-top:20px;height: 40px">
            <label style="float:right" id="sendcode"><a href="#">获取验证码</a></label>
            <input type="text" id="registerCode" class="form-control" placeholder="请输入验证码" required style="margin-top:20px;height: 40px">
            <p style="color:red;margin-top:8px" id="prompt2">&nbsp;</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #6CB7FF;border-color:#6CB7FF">注册</button>
        </form>
    </div>
</div>

<div id="change-boundar" class="box-content" style="z-index:30;display: none;position:absolute;top:40px;right:calc( 50% - 600px );width:400px;height:460px;border-radius: 3px;background-color: white;box-shadow:2px 2px 14px #333333" id="session-box">
    <div class="container" style="z-index:31;padding:30px 20px;width:400px;margin:0 auto">
        <div style="padding:0 15px;height:35px;">
            <a href="javascript:onLogin()" style="color: #cbcbcb;width:50%;text-align:center;float:left;text-decoration:none;font-size:18px;padding-bottom:5px;border-bottom: 4px solid white">返回登录</a>
            <a href="javascript:onRegister()" style="color: #cbcbcb;width:50%;text-align:center;float:right;text-decoration:none;font-size:18px;padding-bottom:5px;border-bottom: 4px solid white">返回注册</a>
        </div>
        <p style="text-align: center;color: #999999;font-size: 16px">密码修改</p>
        <form action="javascript:change()" style="padding: 30px 15px;" id="login-boundar">
            <input type="tel" id="changePhone" class="form-control" placeholder="请输入您的手机号" oninput="validityPhone('changePhone')" required autofocus style="margin-top: -20px;height: 40px">
            <label style="float:right" id="changecode"><a href="#">获取验证码</a></label>
            <input type="text" id="changeCode" class="form-control" placeholder="请输入验证码" required style="margin-top:20px;height: 40px">
        ##                    <input type="text" id="registerName" class="form-control" placeholder="请输入您的用户名" oninput="validityName()" required style="margin:20px 0;height: 40px">
            <input type="password" id="changePassword" class="form-control" placeholder="请输入新密码" oninput="validityPwdChange()" required style="margin:20px 0px 0px 0px;height: 40px">
            <label style="float: left;font-size: 12px;color: silver;margin-bottom: 10px">(*密码6～16位，包含数字或英文)</label>
            <input type="password" id="changePasswordConfirm" class="form-control" placeholder="请输入确认密码" oninput="validityPwdChange()" required style="margin-top:20px;height: 40px">
            <p style="color:red;margin-top:8px" id="prompt3">&nbsp;</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #6CB7FF;border-color:#6CB7FF">确认修改</button>
        </form>
    </div>
</div>
<span id="id" data-id="0"></span>
<script>
    var time=1500;
    var clock;
    var validityPhone = function(type) {
        var number = document.getElementById(type).value;
        var tel = document.getElementById(type);
        var phone = /^1[3|4|5|7|8][0-9]\d{8}$/;
        if (number.length != 11 || !phone.test(number))
            tel.setCustomValidity('请填写正确的手机号');
        else
            tel.setCustomValidity('');
    }

    var validityPwd = function(){
//        var newPwd = document.getElementById('registerPassword');
//        var newPwdConfirm = document.getElementById('registerPasswordConfirm');
//        if(newPwd.value != newPwdConfirm.value){
//            newPwdConfirm.setCustomValidity('两次密码输入不一致');
//        }else{
//            newPwdConfirm.setCustomValidity('');
//        }

        var newPwd = document.getElementById('registerPassword');
        var newPwdX = document.getElementById('registerPassword').value;
        var newPwdConfirm = document.getElementById('registerPasswordConfirm');
//        var pwd = /(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,16}$/;
        var pwd = /^[^\u4e00-\u9fa5]{6,16}$/;
//            var pwd = /(?!^(\d+|[a-zA-Z]+|[~!@#$%^&*?]+)$)^[\w~!@#$%\^&*?]{6,16}$/;
        if(!pwd.test(newPwdX)){
            newPwd.setCustomValidity('密码6~16位，包含数字或英文');
        }else {
            newPwd.setCustomValidity('');
        }
        if(newPwd.value != newPwdConfirm.value){
            newPwdConfirm.setCustomValidity('两次密码输入不一致');
        }else{
            newPwdConfirm.setCustomValidity('');
        }
    }

    var validityPwdChange = function(){
//        var newPwd = document.getElementById('changePassword');
//        var newPwdConfirm = document.getElementById('changePasswordConfirm');
//        if(newPwd.value != newPwdConfirm.value){
//            newPwdConfirm.setCustomValidity('两次密码输入不一致');
//        }else{
//            newPwdConfirm.setCustomValidity('');
//        }

        var newPwd = document.getElementById('changePassword');
        var newPwdX = document.getElementById('changePassword').value;
        var newPwdConfirm = document.getElementById('changePasswordConfirm');
//        var pwd = /(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,16}$/;
        var pwd = /^[^\u4e00-\u9fa5]{6,16}$/;
//            var pwd = /(?!^(\d+|[a-zA-Z]+|[~!@#$%^&*?]+)$)^[\w~!@#$%\^&*?]{6,16}$/;
        if(!pwd.test(newPwdX)){
            newPwd.setCustomValidity('密码6~16位，包含数字或英文');
        }else {
            newPwd.setCustomValidity('');
        }
        if(newPwd.value != newPwdConfirm.value){
            newPwdConfirm.setCustomValidity('两次密码输入不一致');
        }else{
            newPwdConfirm.setCustomValidity('');
        }
    }

    function login(a,b){
        var id = $("#id").data("id");
        var mobilePhone = a==null?$("#inputPhone").val():a;
        var password = b==null?$("#inputPwd").val():b;
        //SetPwdAndChk();
        $.ajax({
            type:"POST",
            url:"/login.do",
            data:{mobile:mobilePhone, password:password},
            dataType:"json",
            success:function(result){
                if(result.returnNo == "000"){
                    //alert("登录成功");
                    if(id == 1){
                        location.href = "/appointment.htm";
                    }else if(id == 2){
                        location.href = "/expert_team.htm?typeId=1";
                    }else if(id == 3){
                        location.href = "/report/list.htm?index=1";
                    }else {
                        location.href = "/index.htm";
                    }

                }else {
                    $("#inputPwd").val("");
                    $("#prompt").html("用户名或密码错误！");
                    clearTimeout(clock);
                    clock = setTimeout(function () {
                        $("#prompt").html("&nbsp;");
                    }, time);
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                serverError("服务器错误");
            }
        });
    }

    $("#sendcode").click(function () {
        var  tel = document.getElementById("registerPhone").value;
        $("#prompt2").empty();
        $.ajax({
            type:"POST",
            url:"/sendcode.do",
            data:{mobile:tel},
            dataType:"json",
            success:function(result){
                if (result.returnNo == "000"){
//                    alert("验证码发送成功");
                    document.getElementById("prompt2").style.color = "green";
                    document.getElementById("prompt2").innerText = "验证码发送成功";
                }
                else{
                    if(result.returnNo == "333"){
                        document.getElementById("prompt2").style.color = "red";
                        document.getElementById("prompt2").innerText =  result.errorMsg;
                    }else {
                        document.getElementById("prompt2").style.color = "red";
                        document.getElementById("prompt2").innerText = "验证码发送失败";
                    }
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                serverError("服务器错误");
            }
        });
    })

    $("#changecode").click(function (){
        var tel = document.getElementById("changePhone").value;
        $("#prompt3").empty();
        $.ajax({
            type:"POST",
            url:"/modifyPassword/sendCode.do",
            data:{mobile:tel},
            dataType:"json",
            success:function(result){
                if (result.returnNo == "000"){
                    document.getElementById("prompt2").style.color = "green";
                    document.getElementById("prompt2").innerText = "验证码发送成功";
                }
                else{
                    if(result.returnNo == "333"){
                        document.getElementById("prompt2").style.color = "red";
                        document.getElementById("prompt3").innerText = result.errorMsg;
                    }else {
                        document.getElementById("prompt2").style.color = "red";
                        document.getElementById("prompt3").innerText = "验证码发送失败";
                    }
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                serverError("服务器错误");
            }
        });
    })

    function register()
    {
        var  tel = document.getElementById("registerPhone").value;
        var password = document.getElementById("registerPassword").value;
        var code = document.getElementById("registerCode").value;
        $.ajax({
            type:"POST",
            url:"/register.do",
            data:{password:password,mobile:tel,userName:name,code:code},
            dataType:"json",
            success:function(result){
                if (result.returnNo == "000"){
//                    alert("注册成功");
//                    location.href="/index.htm";
                    login(tel,password);
                }
                else{
                    document.getElementById("prompt2").style.color = "red";
                    document.getElementById("prompt2").innerText = result.errorMsg;
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                serverError("服务器错误");
            }
        });
    }

    function change()
    {
        var  tel = document.getElementById("changePhone").value;
        var password = document.getElementById("changePassword").value;
        var confirmPassword = document.getElementById("changePasswordConfirm").value;
        var code = document.getElementById("changeCode").value;
        $.ajax({
            type:"POST",
            url:"/modifyPassword.do",
            data:{password:password,mobile:tel,userName:name,code:code,confirmPassword:confirmPassword,},
            dataType:"json",
            success:function(result){
                if (result.returnNo == "000"){
//                    alert("修改密码成功");
//                    location.href="/index.htm";
                    login(tel,password);
                }
                else{
                    if(result.returnNo == "333"){
                        document.getElementById("prompt3").style.color = "red";
                        document.getElementById("prompt3").innerText = result.errorMsg;
                    }
                    else {
                        document.getElementById("prompt3").style.color = "red";
                        document.getElementById("prompt3").innerText = "验证码发送失败";
                    }
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                serverError("服务器错误");
            }
        });
    }

    $(document).ready(function(){
        //GetLastUser();
        //alert(parseFloat($("body").css("height")));
        $(".over-lay").css("height",parseFloat($("body").css("height")) - 30);
    })

</script>

#*<script type="text/javascript">

    function GetLastUser() {
        var id = "49BAC005-7D5B-4231-8CEA-16939BEACD67";//GUID标识符
        var usr = GetCookie(id);
        if (usr != null) {
            document.getElementById('inputPhone').value = usr;
        } else {
            document.getElementById('inputPwd').value = "001";
        }
        GetPwdAndChk();
    }
    //点击登录时触发客户端事件

    function SetPwdAndChk() {
        //取用户名
        var usr = document.getElementById('inputPhone').value;
        //alert("用户名："+usr);
        //将最后一个用户信息写入到Cookie
        SetLastUser(usr);
        //如果记住密码选项被选中
        if (document.getElementById('chkRememberPwd').checked == true) {
            //取密码值
            var pwd = document.getElementById('inputPwd').value;
            var expdate = new Date();
            expdate.setTime(expdate.getTime() + 14 * (24 * 60 * 60 * 1000));
            //将用户名和密码写入到Cookie
            SetCookie(usr, pwd, expdate);
        } else {
            //如果没有选中记住密码,则立即过期
            ResetCookie();
        }
    }

    function SetLastUser(usr) {
        var id = "49BAC005-7D5B-4231-8CEA-16939BEACD67";
        var expdate = new Date();
        //当前时间加上两周的时间
        expdate.setTime(expdate.getTime() + 14 * (24 * 60 * 60 * 1000));
        SetCookie(id, usr, expdate);
    }
    //用户名失去焦点时调用该方法

    function GetPwdAndChk() {
        var usr = document.getElementById('inputPhone').value;
        var pwd = GetCookie(usr);
        if (pwd != null) {
            document.getElementById('chkRememberPwd').checked = true;
            document.getElementById('inputPwd').value = pwd;
        } else {
            document.getElementById('chkRememberPwd').checked = false;
            document.getElementById('inputPwd').value = "";
        }
    }
    //取Cookie的值

    function GetCookie(name) {
        var arg = name + "=";
        var alen = arg.length;
        var clen = document.cookie.length;
        var i = 0;
        while (i < clen) {
            var j = i + alen;
            //alert(j);
            if (document.cookie.substring(i, j) == arg) return getCookieVal(j);
            i = document.cookie.indexOf(" ", i) + 1;
            if (i == 0) break;
        }
        return null;
    }
    function getCookieVal(offset) {
        var endstr = document.cookie.indexOf(";", offset);
        if (endstr == -1)
            endstr = document.cookie.length;
        return unescape(document.cookie.substring(offset, endstr));
    }
    //写入到Cookie
    function SetCookie(name, value, expires) {
        var argv = SetCookie.arguments;
        //本例中length = 3
        var argc = SetCookie.arguments.length;
        var expires = (argc > 2) ? argv[2] : null;
        var path = (argc > 3) ? argv[3] : null;
        var domain = (argc > 4) ? argv[4] : null;
        var secure = (argc > 5) ? argv[5] : false;
        document.cookie = name + "=" + escape(value) + ((expires == null) ? "" : ("; expires=" + expires.toGMTString())) + ((path == null) ? "" : ("; path=" + path)) + ((domain == null) ? "" : ("; domain=" + domain)) + ((secure == true) ? "; secure" : "");
    }
    function ResetCookie() {
        var usr = document.getElementById('inputPhone').value;
        var expdate = new Date();
        SetCookie(usr, null, expdate);
    }
</script>*#